* { -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box; }*/

* {
  cursor:default;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: #C0282D;
}

.video-background {
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  overflow: hidden;
}
.video-foreground {
  color: #fff;
  opacity: .5;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

#bgVidPlayer {
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.welcome-banner {
  font-family: Raleway;
  font-style: normal;
  font-variant: normal;
  font-size:calc(25px + 1.5vw);
  font-weight: 500;
  line-height: 26.4px;
  text-align: center;
}

.red-text {
  color: #C0282D;
  font-weight: bolder;
}

.vertical-container {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
}

.vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  -ms-flex-pack: justify;

  padding-top: 25%;
  padding-bottom: 25%;

  height: 10px;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
}

.vertical-center > * {
}

.test-border {
  border: 2px solid black;
}

.center-content {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -ms-flex-pack: justify;
  flex-direction: column;
  -ms-flex-direction: column;
}

.content-text {
  font-family: Lato;
  font-size: calc(10px + .8vw);
  font-weight: 300;
}

#mute-button {
  font-size: 20px;
  padding: 6px;
  border: 1px solid white;
  border-radius: 26px;
}

.learn-more-button , .learn-more-button:focus {
  border: 1px solid white;
  border-radius: 4px;
  margin-top: 10vh;
  padding: 6px 10px;
  font-weight: normal;
  font-family: Lato;
  font-size: calc(10px + .8vw);
  background-color: rgba(0, 0, 0, .35);
  text-decoration: none;
}

.learn-more-button:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, .75)
}

.intro-text {
  font-size: calc(16px + .8vw);
  font-weight: 300;
}

.section-header {
  font-size: calc(25px + 1vw);
  text-align: center;
}

.subsection-header {
  margin-bottom: 0;
  font-size: calc(18px + .5vw);
  text-align: center;
  font-weight: 700;
}

.text-section {
  color: #222;
  background-color: #ffffff;
  text-align: center;
}

#facilities {
  background-color: #fff;
}

.facilities-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.facility-tab {
  display: inline-block;
  text-align: center;
  width: 12.5%;
  font-size: calc(12px + .5vw);
  border: 1px solid #434343;
  border-radius: 3px;
  padding: 10px 5px;
  margin: 3px;
}

.facility-tab:hover {
  background-color: rgba(67, 67, 67, .15);
}

.facility-tab-selected {
  background-color: rgba(67, 67, 67, .25);
}

.minor-heading {
  font-family: Lato;
  font-weight: 700;
  font-size: calc(16px + .5vw);
}

#facilities-text-box p {
  margin: 5px;
}

#map {
  width: 95%;
  height:35vh;
  min-height:450px;
  margin: 2.5%;
}


.footer-content {
  font-family: Raleway;
  font-size: calc(16px + .75vw) ;
  font-weight: 100;
  text-align: center;
}

.social-link {
  display: inline-block;
  width: 33%;
}

.social-links {
  display: flex;
  display: -ms-flexbox;
  -ms-flex: 1 0 auto;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: center;
  -ms-flex-pack: center;
  margin-top: 3vh;
  padding: 15px 0px;
  border-radius: 5px;
  background: rgba(255,255,255,0);
  transition: background .25s;
}

.social-icon {
  width: 50%;
  margin: 0px 10px;
  display: inline-block;
}

.footer-contact-info p {
  text-align: right;
}

.smaller-text {
  font-size: 80%;
}

#bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;

  background-image: url('../img/frontpage/Front-Jump.jpg');
  background-size: cover;
  background-position: center center;
}

#login {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#contact-modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.fade-bg {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: 0;
  height: 110vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .65);
}

.login-modal {
  position: fixed;
  min-width: 300px;
  width: 30%;
  background-color: #DDD;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  margin: 10px;
  padding: 0px;
  max-height: 80vh;
  overflow-y: auto;
}

.login-modal .row {
  padding: 0px;
  margin: 0px;
}

.login-modal-element {
  text-align: center;
  padding: 10px 0px;
}

.login-modal a {
  color: #333;
}

.horizontalDivider {
  display: block;
  width: 100%;
  margin: 10px 0;
  height: 1px;
  background: #171717;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#DDD), to(#DDD), color-stop(50%, black));
}

.login-modal-container {
  margin: 15px;
}

.login-modal-tab {
  background-color: #CCC;
}

.login-modal-tab :hover {
  background-color: #BBB;
}

.login-input {
  width: 80%;
}

.generic-modal {
  position: fixed;
  z-index: 99999;
  min-width: 300px;
  width: 30%;
  background-color: #DDD;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  margin: 10px;
  padding: 0px;
  border-radius: 8px;
}

.generic-modal__title__container { 
  position: relative;
  background-color: #C0282D;
  margin: 0px;
  height: 48px;
  border-radius: 8px 8px 0 0;
}

.generic-modal__title {
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  color: white;
}
.generic-modal__title p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.generic-modal__content {
  padding: 16px;
}

.generic-modal__content__container {
  max-height: 70vh;
  overflow-y: auto;
  margin: 0;
}

.generic-modal__close-btn {
  position: absolute;
  right: 16px;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.generic-modal__content__container {
  width: 100%;
}

.forgot-button {
  color: red;
  float: right;
  margin-right: 10%;
}

.red-button {
  padding: 10px 5px;
  background-color: #C0282D;
  border-radius: 2px;
  width: 20%;
  min-width: 100px;
  margin: 0 auto;
  text-align: center;
}

.red-button .button-text {
  color: #FFF;
  font-size: 18px;
}

.red-button:hover .button-text {
  text-decoration: underline;
}

.error-container {
  text-align: center;
  margin: 0 auto;
}

.error-container p {
  color: #C0282D;
  font-size: 12px;
  margin: 5px;
}

.status-container {
  text-align: center;
  margin: 0 auto;
}

.status-container p {
  color: #22c117;
  font-size: 12px;
}

.change-button:hover {
  text-decoration: underline;
}

#register {
  min-height: 90vh;
  background-color: #fff;
}

.price-text {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.waiver-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, .15);
}

#training {
  background-color: #fff;
}

.option-card {
  padding: 10px;
  margin: 0px;
  text-align: center;
  background-color: #fff;
  color: #434343;
  height: 100%;
}

.dark {
  background-color: #434343;
}

.option-title {
  font-size: 18px;
}

.dark .option-title {
  color: #aaa;
}

.option-price-container-1 {
  margin: 0 auto;
  color: #434343;
  background-color: #999;
  border: 1px solid rgba(0, 0, 0, .35);
  border-radius: 50%;
  min-width: 100px;
  width: 30%;
  padding-top: 30%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.option-price-container-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark .option-price-container-1 {
  background-color: #555;
  color: #aaa;
}

.option-price {
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
}

.option-price-modifier {
  font-size: 10px;
  font-weight: normal;
  margin: 0px;
}

.learn-more {
  margin: 30px;
  font-size: 12px;
}

.option-info {
  padding: 0px;
  height: 12px;
  font-size: 12px;
  font-weight: 100;
}

.dark .option-info {
  color: #aaa;
}

#training-container {
  margin: 0;
  padding: 0;
  width: 100vw;
}

#events-header {
  margin: 0px;
  padding: 0;
}

.page-header {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-header-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  white-space: nowrap;
  font-family: Raleway;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px rgba(0, 0, 0, .45);
}

#my-account {
  min-height: 90vh;
  background-color: #ddd;
}

.info-text {
  font-size: 14px;
  margin: 16px 0 0 0;
}

.info-text-sm {
  font-size: 11px;
  margin: 4px 0;
}

.info-list li {
  padding: 0;
  margin: 4px;
}

.info-list li p {
  padding: 0;
  margin: 0;
  font-size: 11px;
}

.nav-logo {
  height: 8vh;
  position: absolute;
  top: 1vh;
  left: 3vh;
}

.account-panel-box {
  width: 75%;
  min-width: 300px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #434343;
}

.account-panel-box .title-box {
  background-color: #C0282D;
  color: #f0f0f0;
  text-align: center;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.account-panel-box .title {
  font-size: 20px;
}

.account-panel-box .edit-button {
  /*position: absolute;*/
  font-size: 20px;
  float: right;
}

.account-panel-box .body-box {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  overflow-x: auto;
}

.account-panel-box .body-box p {
  font-size: 16px;
  font-weight: normal;
}

.account-panel-box .body-box td, th {
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, .35);
  padding: 5px;
  text-align: center;
  font-size: 11px;
}

.account-panel-box .body-box th {
  font-size: 14px;
  font-weight: bold;
}

.account-panel-box .item-name {
  color: #C0282D;
  font-weight: bold;
  margin: 10px;
}

.account-panel-box .body-box table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

.SuperTable p {
  font-size: 10px;
  padding: 0;
  margin: 0;
  display: block;
}

.pole-request__row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.pole-request__item {
  display: inline-block;
}
 
.pole-viewer__container {
  width: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 5px;
}

.pole-viewer__container > table {
  table-layout: fixed;
  width: 100%;
}

.pole-viewer__container td {
  text-align: center;
}

.pole-info__container {
  text-align: left;
  padding: 8px 16px;
}

.flex-around {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pole-info__element {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.multi-btn-container {
  display: flex;
  margin-top: 16px;
  justify-content: space-around;
}

.pole-info__edit-btns {
  display: flex;
  margin-top: 16px;
  justify-content: space-around;
}

#edit-pole-info {
  text-align: left;
  padding: 8px 16px;
}

.pole-info__edit-form {
  display: flex;
  justify-content: space-between;
}

.pole-viewer__pole {

}

.pole-viewer__rented {
  background-color: rgba(150, 150, 150, .35);
}

.pole-viewer__missing {
  background-color: rgba(192, 40, 45, .35);
}

.pole-viewer__broken {
  background-color: rgba(192, 40, 45, .35);
}

.pole-viewer__damaged {
  background-color: rgba(210, 100, 0, .35);
}

.pole-viwer__needs-tip {

}

.progress-text p {
  font-size: 12px;
}

.event-intro {
  border: 1px solid rgba(150, 150, 150, .35);
  background-color: rgba(0, 0, 0, .10);
  text-align: left;
  margin: 8px 0;
  padding: 16px;
  position: relative;
}

.event-intro:hover {
  background-color: rgba(0, 0, 0, .20);
}

.event-intro .event-title {
  font-size: 20px;
  text-transform: uppercase;
}

.event-intro .event-description {
  opacity: .75;
  font-style: italic;
  font-size: 12px;
}

.event-intro .event-info{
  opacity: .75;
  font-size: 16px;
}

.event-block-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.event-expand-btn {
  width: 100%;
  text-align: center;
  /*background: linear-gradient(to right, white, white, rgba(0, 0, 0, .1), white, white)*/
}

.event-expand-btn > span {
  margin-top: 0;
  font-size: 32px;
  color: rgba(0, 0, 0, .25);
}

.event-expand-btn:hover > span {
  color: rgba(0, 0, 0, .5);
}

.event-block-full {
  /*border: 1px solid rgba(0, 0, 0, .1);*/
  margin-bottom: 16px;
}

.event-block-details-header {
  font-size: 14px;
  font-style: italic;
}

.event-block {
}

.event-block-details {
  font-size: 12px;
  font-weight: lighter;
}

.event-block-info {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.event-block-location {
  float: right;
}


.event-intro .event-arrow {
  color: rgba(0, 0, 0, .25);
  font-size: 48px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

#full-calendar {
  max-width: 900px;
  margin: 40px auto;
}

/*FORM STYLING*/

.form-labels-on-top{
    box-sizing: border-box;
    max-width: 475px;
    margin: 0 auto;
    padding: 55px;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}

.form-labels-on-top .form-row{
    text-align: left;
    max-width: 315px;
    margin: 25px auto 0;
}

.form-labels-on-top .form-title-row{
    margin: 0 auto 40px;
}

.form-labels-on-top h1{
    display: inline-block;
    box-sizing: border-box;
    color: #222;
    font-size: 24px;
    padding: 0 0 12px 0;
    margin: 0;
    border-bottom: 2px solid #C0282D;
}

.form-labels-on-top .form-row > label span{
    display: block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 200px;
    padding: 0 0 12px;
}

.form-labels-on-top input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 300px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top input[type=radio],
.form-labels-on-top input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-labels-on-top select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top .form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-labels-on-top .form-radio-buttons label span{
    margin-left: 8px;
    color:  #5f5f5f;
    font-weight: normal;
}

.form-labels-on-top .form-radio-buttons input{
    width: auto;
}

.form-labels-on-top button{
    border-radius: 2px;
    background-color:  #C0282D;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin-top: 15px;
}

.required::after {
  content: '*';
  color: #C0282D;
}

@media (max-width: 600px) {

    .form-labels-on-top{
        padding: 30px;
    }

    .form-labels-on-top input{
        width: 240px;
    }

}
/*END FORM STYLING*/

.fc-center h2 {
  font-size: 24px;
}

.fc-event, .fc-event-dot {
  background-color: #C0282D;
  border-color: #C0282D;
}

#full-calendar .alert-info {
  background-color: rgba(0, 0, 0, .05);
}