.accordian {
    display: block;
    position: relative;
    width: 100%
}

.accordian .nopadding {
    padding: 0
}

.accordian-header_wrapper {
    box-sizing: border-box;
    padding: 15px 0;
    position: relative;
    text-align: center;
    width: 100%
}

@media(min-width:768px) {
    .accordian-header_wrapper {
        padding: 30px 0
    }
}

.accordian-header_wrapper:after {
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    z-index: 99;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    bottom: -10px;
    top: auto
}

@media(min-width:768px) {
    .accordian-header_wrapper:after {
        bottom: -15px
    }
}

.accordian-header_wrapper .accordian-header {
    font-size: 24px;
    line-height: 1.15;
    margin: 0 auto;
    width: 90%
}

@media(min-width:768px) {
    .accordian-header_wrapper .accordian-header {
        font-size: 2.40307rem;
        max-width: 600px;
        width: 90%
    }
}

@media(min-width:1024px) {
    .accordian-header_wrapper .accordian-header {
        font-size: 2.40307rem;
        width: 70%
    }
}

@media(min-width:1440px) {
    .accordian-header_wrapper .accordian-header {
        font-size: 2.40307rem;
        width: 40%
    }
}

.accordian-header_wrapper .accordian-header_sub {
    font-size: 14px;
    line-height: 1.55;
    margin: 10px auto;
    width: 90%
}

@media(min-width:768px) {
    .accordian-header_wrapper .accordian-header_sub {
        font-size: .9375rem;
        max-width: 550px;
        width: 70%
    }
}

@media(min-width:1024px) {
    .accordian-header_wrapper .accordian-header_sub {
        font-size: .9375rem;
        width: 50%
    }
}

@media(min-width:1440px) {
    .accordian-header_wrapper .accordian-header_sub {
        font-size: .9375rem;
        width: 50%
    }
}

.accordian-sector {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    float: left;
    max-height: 700px;
    overflow: hidden;
    position: relative
}



.accordian-sector:hover, .accordian-sector:focus, .accordian-sector:active {
    cursor: pointer

}

.accordian-sector:hover .accordian-sector_target, .accordian-sector:focus .accordian-sector_target,
.accordian-sector:active .accordian-sector_target {
    text-decoration: none
}

.accordian-sector:hover .accordian-sector-underlay, .accordian-sector:focus .accordian-sector-underlay,
.accordian-sector:active .accordian-sector-underlay {
    opacity: 1
}

@media(min-width:768px) {
    .accordian-sector:hover .accordian-sector-underlay, .accordian-sector:focus .accordian-sector-underlay,
    .accordian-sector:active .accordian-sector-underlay {
        opacity: 0
    }
}

.accordian-sector:hover .accordian-sector-expand, .accordian-sector:focus .accordian-sector-expand,
.accordian-sector:active .accordian-sector-expand {
    background-color: #56a5d8
}

.accordian-sector:hover .accordian-sector-expand:before, .accordian-sector:focus .accordian-sector-expand:before,
.accordian-sector:active .accordian-sector-expand:before {
    color: #fff
}

.accordian-sector a:hover ~ .accordian-sector-underlay, .accordian-sector a:focus ~ .accordian-sector-underlay,
.accordian-sector a:active ~ .accordian-sector-underlay {
    opacity: 1
}

@media(min-width:768px) {
    .accordian-sector a:hover ~ .accordian-sector-underlay, .accordian-sector a:focus ~ .accordian-sector-underlay,
    .accordian-sector a:active ~ .accordian-sector-underlay {
        opacity: 0
    }
}

.accordian-sector a:hover .accordian-sector-expand, .accordian-sector a:focus .accordian-sector-expand,
.accordian-sector a:active .accordian-sector-expand {
    background-color: #56a5d8
}

.accordian-sector a:hover .accordian-sector-expand:before, .accordian-sector a:focus .accordian-sector-expand:before,
.accordian-sector a:active .accordian-sector-expand:before {
    color: #fff
}

.accordian-sector_target {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}

.accordian-sector-title {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5
}

@media(min-width:768px) {
    .accordian-sector-title {
        margin: 60px auto;
        padding: 50px 0;
        top: 35%;
        width: 80%
    }
}

@media(max-width:840px) and (min-width:800px) {
    .accordian-sector-title {
        margin: 30px auto
    }
}

.accordian-sector-title_icon, .accordian-sector-title_desc {
    display: inline-block;
    margin: 0;
    padding: 0
}

@media(min-width:768px) {
    .accordian-sector-title_icon, .accordian-sector-title_desc {
        display: block
    }
}

.accordian-sector-title_icon {
    font-size: 24px;
    left: 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 30px
}

@media(min-width:768px) {
    .accordian-sector-title_icon {
        font-size: 48px;
        left: auto;
        position: relative;
        width: 100%
    }
}

.accordian-sector-title_desc {
    line-height: 1.2;
    margin-left: 65px;
    text-align: left;
    width: 75%
}

@media(min-width:768px) {
    .accordian-sector-title_desc {
        margin: 0;
        min-height: 100px;
        text-align: center;
        width: 100%
    }
}

@media(min-width:768px) {
    .accordian-sector-title_desc {
        min-height: 70px
    }
}

.accordian-sector-title .accordian-sector-expand {
    display: inline-block
}

@media(min-width:768px) {
    .accordian-sector-title .accordian-sector-expand {
        display: block;
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translate(-50%, -50%)
    }
}

.accordian-sector-content {
    box-sizing: border-box;
    color: #fff;
    height: 100%;
    left: 50%;
    opacity: 0;
    padding: 0px 0;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    transition: all .15s ease-out;
    width: 100%
}

@media(min-width:768px) {
    .accordian-sector-content {
        height: auto;
        padding: 30px 25px;
        width: 90%
    }
}

@media(min-width:768px) {
    .accordian-sector-content {
        padding: 30px
    }
}



/*Placement & size of the content box*/
.accordian-sector-content.is-expanded {
    opacity: 1;
    top: 50%;
}

.accordian-sector-content_image {
    display: none;
    height: 0;
    padding-bottom: 50%;
    width: 55%
}

@media(min-width:768px) {
    .accordian-sector-content_image {
        display: block;
        float: left;
        height: 0;
        padding-bottom: 47%; /*Changing the height of the image in the content box */
        width: 40%
    }
}

@media(min-width:800px) and (max-width:840px) {
    .accordian-sector-content_image {
        display: none;
        width: 30%
    }
}

.accordian-sector-content.border-box {
    background-color: rgba(0, 0, 0, 0.60)
}

.accordian-sector-content_icon {
    float: left;
    margin-left: 15px;
    text-align: center;
    width: 30px
}

.accordian-sector-content_icon.fwa-icon {
    background-size: contain;
    margin-left: 20px;
    height: 30px;
    width: 30px
}

@media(min-width:768px) {
    .accordian-sector-content_icon {
        background-position: center;
        float: none;
        font-size: 1.69949rem;
        margin: 0;
        padding: 10px 0;
        text-align: left;
        height: 35px;
        width: 50px
    }

    .accordian-sector-content_icon.fwa-icon {
        background-size: contain;
        margin-left: 0;
        width: 50px
    }
}

@media(min-width:800px) and (max-width:840px) {
    .accordian-sector-content_icon {
        padding: 0
    }
}

.accordian-sector-content_desc {
    float: left;
    margin-top: 10px;
    width: 90%
}

@media(min-width:768px) {
    .accordian-sector-content_desc {
        float: left;
        margin-left: 5%;
        width: 55%
    }
}

@media(min-width:800px) and (max-width:840px) {
    .accordian-sector-content_desc {
        width: 65%
    }
}

.accordian-sector-content_desc-inner {
    float: left;
    margin-left: 20px;
    width: 70%
}

@media(min-width:768px) {
    .accordian-sector-content_desc-inner {
        margin-left: 0;
        width: 95%
    }
}

.accordian-sector-content_desc-inner_info {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px
}

@media(min-width:768px) {
    .accordian-sector-content_desc-inner_info {
        font-size: auto;
        line-height: 1.5;
        margin: 10px 0
    }
}


.accordian-sector-content_desc-inner_details {
    font-size: 14px;
    max-height: 120px;
    line-height: 1.55;
    margin-bottom: .80rem;
    overflow: scroll;
}

@media(min-width:768px) {
    .accordian-sector-content_desc-inner_details {
        font-size: 14px;
        height: auto;
        margin-right: auto
    }
}

.my-inner_details {
    font-family: Lato;
    font-size: 14px;
    max-height: 100px; /* Changes the size of the text box description*/
    line-height: 1.55;
    margin-bottom: .80rem;
    overflow-y: scroll;
}

/*
.scrollable-content::-webkit-scrollbar * {
    background:transparent; // manage scrollbar background color here
}
*/


@media(min-width:768px) {
    .my-inner_details {
        font-size: 14px;
        max-height:210px;  /* Changes the size of the text box description*/
        height: auto;
        margin-right: auto
    }
}


.accordian-sector-content_desc-inner_link {
    color: #49b0f2;
    font-size: 14px;
    position: relative
}

.accordian-sector-content_desc-inner_link[data-link-type]:after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    height: 13px;
    transition: all .25s ease-out;
    width: 13px;
    display: inline-block;
    margin-left: 4px
}

.accordian-sector-content_desc-inner_link:hover, .accordian-sector-content_desc-inner_link:focus,
.accordian-sector-content_desc-inner_link:active {
    color: #74c6ff;
    text-decoration: none
}

.accordian-sector-content_desc-inner_link[data-link-type='internal']:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iIzQ5YjBmMiIgZD0iTTggMTQuM0wxMy4zIDlIMFY4aDEzLjNMOCAyLjdWMS4zbDcuMiA3LjJMOCAxNS43di0xLjR6Ii8+PC9zdmc+)
}

.accordian-sector-content_desc-inner_link[data-link-type='external']:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIiBjbGFzcz0ic3ZnLWljb24iPjxwYXRoIGZpbGw9IiM0OWIwZjIiIGQ9Ik0yNiAzMEgyVjZoMTRWNEgwdjI4aDI4VjE4aC0yek0yMSA4QzEyLjcxNSA4IDYgMTQuNzE3IDYgMjNjMCAuMzM2LjAyOS42NjguMDUxIDFoNEExMS40NjQgMTEuNDY0IDAgMCAxIDEwIDIzYzAtNi4wNjUgNC45MzYtMTEgMTEtMTFoMy4wMDRsLTYgNmg0TDMwIDEwbC03Ljk5Ni04aC00bDYgNkgyMXoiLz48L3N2Zz4=)
}

.accordian-sector-content_desc-inner_link[data-link-type='video']:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIiBjbGFzcz0ic3ZnLWljb24iPjxwYXRoIGZpbGw9IiM0OWIwZjIiIGQ9Ik02IDBsMjIgMTYuMDAyTDYgMzJWMHoiLz48L3N2Zz4=)
}

.accordian-sector-content_desc-inner_link[data-link-type='document']:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDMyIDMyIiBjbGFzcz0ic3ZnLWljb24iPjxwYXRoIGZpbGw9IiM0OWIwZjIiIHN0cm9rZT0iI2ZmZiIgZD0iTTIyIDI0aDR2MmgtNHYtMnptMC0xMmg0djJoLTR2LTJ6bTAgNGg0djJoLTR2LTJ6TTggNmgxMHYySDhWNnptMTQgMTRoNHYyaC00di0yek04IDEyaDEwdjJIOHYtMnptMCA0aDEydjJIOHYtMnpNMjIuODAxIDBINHYzMmgyNlY3LjE5OUwyMi44MDEgMHpNMjggMzBINlYyaDE0djhoOHYyMHptMC0yMmgtNlYyaC42MjFMMjggNy4zNzlWOHpNOCAyMGgxMnYySDh2LTJ6bTAgNGgxMHYySDh2LTJ6Ii8+PC9zdmc+)
}

@media(min-width:768px) {
    .accordian-sector-content_desc-inner_link {
        font-size: 14px
    }
}

.accordian-sector-underlay {
    background-color: #434343;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    transition: all .15s ease-out;
    z-index: 3
}

@media(min-width:768px) {
    .accordian-sector-underlay{
        background-color: BLACK !important;
        opacity: .5;
    }

}

.accordian-sector-underlay.is-visible {
    display: block;
    opacity: 1
}

.accordian-sector-underlay.is-invisible {
    display: none;
    opacity: 0
}


.accordian-sector hr {
    background: #a9a9a9;
    margin: 25px auto;
    width: 75px
}

.accordian-sector hr.align-left {
    margin: 25px 0
}

.accordian-sector-expand {
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.9);
    color: #56a5d8;
    height: 20px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    z-index: 5
}

@media(min-width:768px) {
    .accordian-sector-expand {
        height: 50px;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        top: 100%;
        width: 50px
    }
}


.accordian-sector-expand:before {
    color: #323232;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px
}

.accordian-sector-expand-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

@media(min-width:0) {
    .accordian .sector-2 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 40vh;
        max-height: 70px;
        width: 100%
    }

    .accordian .sector-2 .accordian-sector.is-active {
        height: 60vh;
        max-height: 300px;
        width: 100%
    }

    .accordian .sector-2 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-2 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-2 .accordian-sector.is-inactive {
        height: 40vh;
        width: 100%
    }

    .accordian .sector-3 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 26.66666667vh;
        max-height: 70px;
        width: 100%
    }

    .accordian .sector-3 .accordian-sector.is-active {
        height: 60vh;
        max-height: 300px;
        width: 100%
    }

    .accordian .sector-3 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-3 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-3 .accordian-sector.is-inactive {
        height: 20vh;
        width: 100%
    }

    .accordian .sector-4 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 20vh;
        max-height: 70px;
        width: 100%
    }

    .accordian .sector-4 .accordian-sector.is-active {
        height: 60vh;
        max-height: 300px;
        width: 100%
    }

    .accordian .sector-4 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-4 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-4 .accordian-sector.is-inactive {
        height: 13.33333333vh;
        width: 100%
    }

    .accordian .sector-5 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 16vh;
        max-height: 70px;
        width: 100%
    }

    .accordian .sector-5 .accordian-sector.is-active {
        height: 60vh;
        max-height: 300px;
        width: 100%
    }

    .accordian .sector-5 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-5 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-5 .accordian-sector.is-inactive {
        height: 10vh;
        width: 100%
    }
}

@media(min-width:480px) {
    .accordian .sector-2 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 50vh;
        max-height: 100%;
        width: 100%
    }

    .accordian .sector-2 .accordian-sector.is-active {
        height: 70vh;
        width: 100%
    }

    .accordian .sector-2 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-2 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-2 .accordian-sector.is-inactive {
        height: 55vh;
        width: 100%
    }

    .accordian .sector-3 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 33.33333333vh;
        max-height: 100%;
        width: 100%
    }

    .accordian .sector-3 .accordian-sector.is-active {
        height: 70vh;
        width: 100%
    }

    .accordian .sector-3 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-3 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-3 .accordian-sector.is-inactive {
        height: 27.5vh;
        width: 100%
    }

    .accordian .sector-4 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 25vh;
        max-height: 100%;
        width: 100%
    }

    .accordian .sector-4 .accordian-sector.is-active {
        height: 70vh;
        width: 100%
    }

    .accordian .sector-4 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-4 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-4 .accordian-sector.is-inactive {
        height: 18.33333333vh;
        width: 100%
    }

    .accordian .sector-5 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 20vh;
        max-height: 100%;
        width: 100%
    }

    .accordian .sector-5 .accordian-sector.is-active {
        height: 70vh;
        width: 100%
    }

    .accordian .sector-5 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-5 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-5 .accordian-sector.is-inactive {
        height: 13.75vh;
        width: 100%
    }
}

@media(min-width:768px) {
    .accordian .sector-2 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 60vh;
        max-height: 580px;
        width: 50%
    }

    .accordian .sector-2 .accordian-sector.is-active {
        height: 60vh;
        max-height: 100%;
        width: 60%
    }

    .accordian .sector-2 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-2 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-2 .accordian-sector.is-inactive {
        height: 60vh;
        max-height: 100%;
        width: 40%
    }

    .accordian .sector-3 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 60vh;
        max-height: 580px;
        width: 33.33333333%
    }

    .accordian .sector-3 .accordian-sector.is-active {
        height: 60vh;
        max-height: 100%;
        width: 60%
    }

    .accordian .sector-3 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-3 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-3 .accordian-sector.is-inactive {
        height: 60vh;
        max-height: 100%;
        width: 20%
    }

    .accordian .sector-4 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 60vh;
        max-height: 580px;
        width: 25%
    }

    .accordian .sector-4 .accordian-sector.is-active {
        height: 60vh;
        max-height: 100%;
        width: 60%
    }

    .accordian .sector-4 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-4 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-4 .accordian-sector.is-inactive {
        height: 60vh;
        max-height: 100%;
        width: 13.33333333%
    }

    .accordian .sector-5 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 60vh;
        max-height: 580px;
        width: 20%
    }

    .accordian .sector-5 .accordian-sector.is-active {
        height: 60vh;
        max-height: 100%;
        width: 60%
    }

    .accordian .sector-5 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-5 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-5 .accordian-sector.is-inactive {
        height: 60vh;
        max-height: 100%;
        width: 10%
    }
}

@media(min-width:768px) {
    .accordian .sector-2 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 80vh;
        max-height: 700px;
        width: 50%
    }

    .accordian .sector-2 .accordian-sector.is-active {
        height: 80vh;
        max-height: 700px;
        width: 60%
    }

    .accordian .sector-2 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-2 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-2 .accordian-sector.is-inactive {
        height: 80vh;
        max-height: 700px;
        width: 40%
    }

    .accordian .sector-3 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 80vh;
        max-height: 700px;
        width: 33.33333333%
    }

    .accordian .sector-3 .accordian-sector.is-active {
        height: 80vh;
        max-height: 700px;
        width: 60%
    }

    .accordian .sector-3 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-3 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-3 .accordian-sector.is-inactive {
        height: 80vh;
        max-height: 700px;
        width: 20%
    }

    .accordian .sector-4 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 80vh;
        max-height: 700px;
        width: 25%
    }

    .accordian .sector-4 .accordian-sector.is-active {
        height: 80vh;
        max-height: 700px;
        width: 60%
    }

    .accordian .sector-4 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-4 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-4 .accordian-sector.is-inactive {
        height: 80vh;
        max-height: 700px;
        width: 13.33333333%
    }

    .accordian .sector-5 .accordian-sector {
        position: relative;
        transition: all .25s ease-in;
        height: 80vh;
        max-height: 700px;
        width: 20%
    }

    .accordian .sector-5 .accordian-sector.is-active {
        height: 80vh;
        max-height: 700px;
        width: 60%
    }

    .accordian .sector-5 .accordian-sector.is-active-title {
        display: none
    }

    .accordian .sector-5 .accordian-sector.is-active-content {
        display: block
    }

    .accordian .sector-5 .accordian-sector.is-inactive {
        height: 80vh;
        max-height: 700px;
        width: 10%
    }
}